<div align="center" class="top">
  <h1 id="helloThere" style="margin-top: 50px; color:white;">
    <i class="fa fa-code fa-5x" id="code" aria-hidden="true"></i>
    <p class="helloThere">Всем привет!</p>
  </h1>
  <p id="introText" style="color:white;">
    Добро пожаловать! Мое имя {{self.name}} {{self.surname}} и я
    <strong>начинающий фронтент разработчик.</strong>
  </p>
</div>

<div align="center" style="width: 100%;">
  <h1 class="text-center">
    <i class="fa fa-bookmark fa-sm" id="bookmark" aria-hidden="true"></i>
    <strong style="font-size: 45px; margin-left: 10px;">Обо мне</strong>
  </h1>
  <div align="left" class="Biography">
    <h3 style="margin-left: 30px;">
      <strong><i class="fa fa-book"></i> Биография</strong>
    </h3>
    <p>
      На данный момент мне {{self.age}} лет и я учусь в школе {{self.school}}.
      В область моих интересов входит множество занятий, таких как математика,
      физика и программирование. Но с недавнего времени я начал увлекаться
      фронтенд разработкой и мне это понравилось. Теперь я стараюсь развиваться
      в этом направлении.
    </p>

    <h3 style="margin-left: 30px;"><strong><i class="fa fa-check"></i> Мои навыки</strong></h3>
    <div id="skills">
      <i style="float: left; margin-left: 30px;" class="fa fa-brands fa-html5 fa-5x" aria-hidden="true"></i>
      <i style="float: right; margin-right: 30px;" class="fa fa-brands fa-css3 fa-5x" aria-hidden="true"></i>
    </div>
  </div>
</div>
